<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrabajadoresActivos</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>

    <header class="header"></header>
    <div class="barra-regreso">
        <button onclick="history.back()">Atrás</button>
        <button onclick="window.location.href='../login.html'">Inicio</button>
    </div>

    <div class="app">
        <h2 class="subtitulo"><br><br><br><br>¿Deseas actualizar tu<br>documento de identidad?</h2><br>
        <main class="container">
            <form class="formulario" onsubmit="validarCredenciales(event)">
				<button type="button" class="btn-secundario" onclick="location.href='../activo/correo_encuesta.html'">Si</button>
                <button type="button" class="btn-secundario">No</button><br><br><br>
                <div class="documento-texto">Recuerda que debes presentar<br>copia de tu documento de<br>identidad en la
                    oficina virtual<br>de personal</div>
                <button type="button" class="btn-secundario"
                    onclick="location.href='https://omniecp.app/work-flow/support-chats'">Clic aquí para presentar tu
                    documento</button>
            </form>
        </main>
    </div>
</body>

</html>