<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VerificacionDeEnvioDeCorreo</title>
  <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
  <div class="top-background"></div>
  <header class="header"></header>
  <div class="barra-regreso">
    <button onclick="history.back()">Atrás</button>
    <button onclick="window.location.href='../login.html'">Inicio</button>
  </div>

  <div class="app">
    <main class="container"><br><br><br><br><br><br><br><br><br><br><br>
      <div class="encuesta-texto">No olvides diligenciar la<br>encuesta de satisfacción que<br>hemos enviado a tu
        correo,<br>¡Queremos conocer tu<br>satisfacción con el servicio!</div>
    </main>
  </div>
</body>

</html>